div.definicion-encabezado-pagina{
  display: none;
  text-align: center;
}

div.definicion-pie-pagina{
  display: none;
  text-align: center;
}


@media print {

  div.definicion-encabezado-pagina {
     display: block;
     position: fixed;
     top: 2mm;
     text-align: center;
       }

  div.definicion-pie-pagina{
     display: block;
     position: fixed;
     bottom: 2mm;
     text-align: center;
       }
}

table.tablaencabezadopiepagina {
}

table.normal {
}

table.NOnormal {
display: none;
}


table.clasetabla {
border-right: medium none;
border-top: medium none;
border-left: medium none;
border-bottom: medium none;
border-collapse: collapse;
vertical-align: middle
}


table.NOclasetabla {
display: none;
}


tr.NO {
display: none;
}


br.NO {
display: none;
}


td.NO {
display: none;
}


span.NO {
display: none;
}

div.NO {
display: none;
}

p.NO {
display: none;
}

pre.NO {
display: none;
}

.NONO {
display: none;
}

.INVERTIDO {
display: none;
}

.SIINVERTIDO {
display: none;
}

.fondogris {
background-color: #c0c0c0;
}

.fondoblanco {
background-color: #ffffff;
}

.NEGRILLA {
font-weight: bold;
}

.cambiopaginaantes {
page-break-before: always;
}

.cambiopaginadespues {
page-break-after: always;
}


td.b0000 {
border-top:    black 0px solid;
border-right:  black 0px solid;
border-bottom: black 0px solid;
border-left:   black 0px solid;
}

td.b3113 {
border-top:    black 3px solid;
border-right:  black 1px solid;
border-bottom: black 1px solid;
border-left:   black 3px solid;
}

td.b3103 {
border-top:    black 3px solid;
border-right:  black 1px solid;
border-bottom: black 0px solid;
border-left:   black 3px solid;
}

td.b3101 {
border-top:    black 3px solid;
border-right:  black 1px solid;
border-bottom: black 0px solid;
border-left:   black 1px solid;
}

td.b1313 {
border-top:    black 1px solid;
border-right:  black 3px solid;
border-bottom: black 1px solid;
border-left:   black 3px solid;
}

td.b1303 {
border-top:    black 1px solid;
border-right:  black 3px solid;
border-bottom: black 0px solid;
border-left:   black 3px solid;
}

td.b3313 {
border-top:    black 3px solid;
border-right:  black 3px solid;
border-bottom: black 1px solid;
border-left:   black 3px solid;
}

td.b3303 {
border-top:    black 3px solid;
border-right:  black 3px solid;
border-bottom: black 0px solid;
border-left:   black 3px solid;
}

td.b3111 {
border-top:    black 3px solid;
border-right:  black 1px solid;
border-bottom: black 1px solid;
border-left:   black 1px solid;
}

td.b3311 {
border-top:    black 3px solid;
border-right:  black 3px solid;
border-bottom: black 1px solid;
border-left:   black 1px solid;
}

td.b3301 {
border-top:    black 3px solid;
border-right:  black 3px solid;
border-bottom: black 0px solid;
border-left:   black 1px solid;
}

td.b3133 {
border-top:    black 3px solid;
border-right:  black 1px solid;
border-bottom: black 3px solid;
border-left:   black 3px solid;
}

td.b3131 {
border-top:    black 3px solid;
border-right:  black 1px solid;
border-bottom: black 3px solid;
border-left:   black 1px solid;
}

td.b3331 {
border-top:    black 3px solid;
border-right:  black 3px solid;
border-bottom: black 3px solid;
border-left:   black 1px solid;
}

td.b1113 {
border-top:    black 1px solid;
border-right:  black 1px solid;
border-bottom: black 1px solid;
border-left:   black 3px solid;
}

td.b1103 {
border-top:    black 1px solid;
border-right:  black 1px solid;
border-bottom: black 0px solid;
border-left:   black 3px solid;
}

td.b1111 {
border-top:    black 1px solid;
border-right:  black 1px solid;
border-bottom: black 1px solid;
border-left:   black 1px solid;
}

td.b1110 {
border-top:    black 1px solid;
border-right:  black 1px solid;
border-bottom: black 1px solid;
border-left:   black 0px solid;
}

td.b1101 {
border-top:    black 1px solid;
border-right:  black 1px solid;
border-bottom: black 0px solid;
border-left:   black 1px solid;
}

td.b0101 {
border-top:    black 0px solid;
border-right:  black 1px solid;
border-bottom: black 0px solid;
border-left:   black 1px solid;
}

td.b1001 {
border-top:    black 1px solid;
border-right:  black 0px solid;
border-bottom: black 0px solid;
border-left:   black 1px solid;
}

td.b1100 {
border-top:    black 1px solid;
border-right:  black 1px solid;
border-bottom: black 0px solid;
border-left:   black 0px solid;
}

td.b1311 {
border-top:    black 1px solid;
border-right:  black 3px solid;
border-bottom: black 1px solid;
border-left:   black 1px solid;
}

td.b1301 {
border-top:    black 1px solid;
border-right:  black 3px solid;
border-bottom: black 0px solid;
border-left:   black 1px solid;
}

td.b1133 {
border-top:    black 1px solid;
border-right:  black 1px solid;
border-bottom: black 3px solid;
border-left:   black 3px solid;
}

td.b1131 {
border-top:    black 1px solid;
border-right:  black 1px solid;
border-bottom: black 3px solid;
border-left:   black 1px solid;
}

td.b1331 {
border-top:    black 1px solid;
border-right:  black 3px solid;
border-bottom: black 3px solid;
border-left:   black 1px solid;
}

td.b0010 {
border-top:    black 0px solid;
border-right:  black 0px solid;
border-bottom: black 1px solid;
border-left:   black 0px solid;
}

td.b0100 {
border-top:    black 0px solid;
border-right:  black 1px solid;
border-bottom: black 0px solid;
border-left:   black 0px solid;
}

td.b0011 {
border-top:    black 0px solid;
border-right:  black 0px solid;
border-bottom: black 1px solid;
border-left:   black 1px solid;
}

td.b0110 {
border-top:    black 0px solid;
border-right:  black 1px solid;
border-bottom: black 1px solid;
border-left:   black 0px solid;
}


.textomembrete {
text-align:       center;
font-family:      "Monotype Corsiva";
font-style:       normal;
font-weight:      bold;
font-size:        11pt;
line-height:      normal;
text-indent:      0px;
letter-spacing:   normal;
word-spacing:     normal;
color:            normal;
background-color: none;
margin:           0px;
}

.textotablaencabezado {
text-align:       center;
font-family:      "Verdana";
font-style:       normal;
font-weight:      bold;
font-size:        11pt;
line-height:      normal;
text-indent:      0px;
letter-spacing:   normal;
word-spacing:     normal;
color:            normal;
background-color: none;
margin:           5px;
}

.textotablaenfasiscentrado {
text-align:       center;
font-family:      "Verdana";
font-style:       normal;
font-weight:      bold;
font-size:        9pt;
line-height:      normal;
text-indent:      0px;
letter-spacing:   normal;
word-spacing:     normal;
color:            normal;
background-color: none;
margin:           3px;
}

.textotablanormalajustado {
text-align:       justify;
font-family:      "Verdana";
font-style:       normal;
font-weight:      bold;
font-size:        9pt;
line-height:      normal;
text-indent:      0px;
letter-spacing:   normal;
word-spacing:     normal;
color:            normal;
background-color: none;
margin:           3px;
}

.textotablanormalcentrado {
text-align:       center;
font-family:      "Verdana";
font-style:       normal;
font-weight:      bold;
font-size:        9pt;
line-height:      normal;
text-indent:      0px;
letter-spacing:   normal;
word-spacing:     normal;
color:            normal;
background-color: none;
margin:           3px;
}

.textotablanormalizquierda {
text-align:       left;
font-family:      "Verdana";
font-style:       normal;
font-weight:      bold;
font-size:        9pt;
line-height:      normal;
text-indent:      0px;
letter-spacing:   normal;
word-spacing:     normal;
color:            normal;
background-color: none;
margin:           3px;
}

.textotablanormalderecha {
text-align:       right;
font-family:      "Verdana";
font-style:       normal;
font-weight:      bold;
font-size:        9pt;
line-height:      normal;
text-indent:      0px;
letter-spacing:   normal;
word-spacing:     normal;
color:            normal;
background-color: none;
margin:           3px;
}

.textotablafranjadelgada {
text-align:       justify;
font-family:      "Verdana";
font-style:       normal;
font-weight:      bold;
font-size:        1pt;
line-height:      normal;
text-indent:      0px;
letter-spacing:   normal;
word-spacing:     normal;
color:            normal;
background-color: none;
margin:           4px;
}





.tejemplo {
text-align:       center;
font-family:      "Times New Roman";
font-style:       normal;
font-weight:      normal;
font-size:        16pt;
line-height:      normal;
text-indent:      0px;
letter-spacing:   normal;
word-spacing:     normal;
color:            normal;
background-color: none;
margin:           0px;
}







.t14c5 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        14pt;
margin:           0px 5px;
}


.t13c5 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        13pt;
margin:           0px 5px;
}


.t12c5 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        12pt;
margin:           0px 5px;
}


.t11c5 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        11pt;
margin:           0px 5px;
}


.t10c5 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        10pt;
margin:           0px 5px;
}


.t9c5 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        9pt;
margin:           0px 5px;
}


.t8c5 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        8pt;
margin:           0px 5px;
}


.t7c5 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        7pt;
margin:           0px 5px;
}






.t14j5 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        14pt;
margin:           0px 5px;
}


.t13j5 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        13pt;
margin:           0px 5px;
}


.t12j5 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        12pt;
margin:           0px 5px;
}


.t11j5 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        11pt;
margin:           0px 5px;
}


.t10j5 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        10pt;
margin:           0px 5px;
}


.t9j5 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        9pt;
margin:           0px 5px;
}


.t8j5 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        8pt;
margin:           0px 5px;
}


.t7j5 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        7pt;
margin:           0px 5px;
}






.t14d5 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        14pt;
margin:           0px 5px;
}


.t13d5 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        13pt;
margin:           0px 5px;
}


.t12d5 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        12pt;
margin:           0px 5px;
}


.t11d5 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        11pt;
margin:           0px 5px;
}


.t10d5 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        10pt;
margin:           0px 5px;
}


.t9d5 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        9pt;
margin:           0px 5px;
}


.t8d5 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        8pt;
margin:           0px 5px;
}


.t7d5 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        7pt;
margin:           0px 5px;
}











.t14c0 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        14pt;
margin:           0px;
}


.t13c0 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        13pt;
margin:           0px;
}


.t12c0 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        12pt;
margin:           0px;
}


.t11c0 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        11pt;
margin:           0px;
}


.t10c0 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        10pt;
margin:           0px;
}


.t9c0 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        9pt;
margin:           0px;
}


.t8c0 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        8pt;
margin:           0px;
}


.t7c0 {
text-align:       center;
font-family:      "Times New Roman";
font-size:        7pt;
margin:           0px;
}







.t14j0 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        14pt;
margin:           0px;
}


.t13j0 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        13pt;
margin:           0px;
}


.t12j0 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        12pt;
margin:           0px;
}


.t11j0 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        11pt;
margin:           0px;
}


.t10j0 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        10pt;
margin:           0px;
}


.t9j0 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        9pt;
margin:           0px;
}


.t8j0 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        8pt;
margin:           0px;
}


.t7j0 {
text-align:       justify;
font-family:      "Times New Roman";
font-size:        7pt;
margin:           0px;
}






.t14d0 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        14pt;
margin:           0px;
}


.t13d0 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        13pt;
margin:           0px;
}


.t12d0 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        12pt;
margin:           0px;
}


.t11d0 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        11pt;
margin:           0px;
}


.t10d0 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        10pt;
margin:           0px;
}


.t9d0 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        9pt;
margin:           0px;
}


.t8d0 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        8pt;
margin:           0px;
}


.t7d0 {
text-align:       right;
font-family:      "Times New Roman";
font-size:        7pt;
margin:           0px;
}









.v14c5 {
text-align:       center;
font-family:      "Verdana";
font-size:        14pt;
margin:           0px 5px;
}


.v13c5 {
text-align:       center;
font-family:      "Verdana";
font-size:        13pt;
margin:           0px 5px;
}


.v12c5 {
text-align:       center;
font-family:      "Verdana";
font-size:        12pt;
margin:           0px 5px;
}


.v11c5 {
text-align:       center;
font-family:      "Verdana";
font-size:        11pt;
margin:           0px 5px;
}


.v10c5 {
text-align:       center;
font-family:      "Verdana";
font-size:        10pt;
margin:           0px 5px;
}


.v9c5 {
text-align:       center;
font-family:      "Verdana";
font-size:        9pt;
margin:           0px 5px;
}


.v8c5 {
text-align:       center;
font-family:      "Verdana";
font-size:        8pt;
margin:           0px 5px;
}


.v7c5 {
text-align:       center;
font-family:      "Verdana";
font-size:        7pt;
margin:           0px 5px;
}







.v14j5 {
text-align:       justify;
font-family:      "Verdana";
font-size:        14pt;
margin:           0px 5px;
}


.v13j5 {
text-align:       justify;
font-family:      "Verdana";
font-size:        13pt;
margin:           0px 5px;
}


.v12j5 {
text-align:       justify;
font-family:      "Verdana";
font-size:        12pt;
margin:           0px 5px;
}


.v11j5 {
text-align:       justify;
font-family:      "Verdana";
font-size:        11pt;
margin:           0px 5px;
}


.v10j5 {
text-align:       justify;
font-family:      "Verdana";
font-size:        10pt;
margin:           0px 5px;
}


.v9j5 {
text-align:       justify;
font-family:      "Verdana";
font-size:        9pt;
margin:           0px 5px;
}


.v8j5 {
text-align:       justify;
font-family:      "Verdana";
font-size:        8pt;
margin:           0px 5px;
}


.v7j5 {
text-align:       justify;
font-family:      "Verdana";
font-size:        7pt;
margin:           0px 5px;
}






.v14d5 {
text-align:       right;
font-family:      "Verdana";
font-size:        14pt;
margin:           0px 5px;
}


.v13d5 {
text-align:       right;
font-family:      "Verdana";
font-size:        13pt;
margin:           0px 5px;
}


.v12d5 {
text-align:       right;
font-family:      "Verdana";
font-size:        12pt;
margin:           0px 5px;
}


.v11d5 {
text-align:       right;
font-family:      "Verdana";
font-size:        11pt;
margin:           0px 5px;
}


.v10d5 {
text-align:       right;
font-family:      "Verdana";
font-size:        10pt;
margin:           0px 5px;
}


.v9d5 {
text-align:       right;
font-family:      "Verdana";
font-size:        9pt;
margin:           0px 5px;
}


.v8d5 {
text-align:       right;
font-family:      "Verdana";
font-size:        8pt;
margin:           0px 5px;
}


.v7d5 {
text-align:       right;
font-family:      "Verdana";
font-size:        7pt;
margin:           0px 5px;
}












.v14c0 {
text-align:       center;
font-family:      "Verdana";
font-size:        14pt;
margin:           0px;
}


.v13c0 {
text-align:       center;
font-family:      "Verdana";
font-size:        13pt;
margin:           0px;
}


.v12c0 {
text-align:       center;
font-family:      "Verdana";
font-size:        12pt;
margin:           0px;
}


.v11c0 {
text-align:       center;
font-family:      "Verdana";
font-size:        11pt;
margin:           0px;
}


.v10c0 {
text-align:       center;
font-family:      "Verdana";
font-size:        10pt;
margin:           0px;
}


.v9c0 {
text-align:       center;
font-family:      "Verdana";
font-size:        9pt;
margin:           0px;
}


.v8c0 {
text-align:       center;
font-family:      "Verdana";
font-size:        8pt;
margin:           0px;
}


.v7c0 {
text-align:       center;
font-family:      "Verdana";
font-size:        7pt;
margin:           0px;
}








.v14j0 {
text-align:       justify;
font-family:      "Verdana";
font-size:        14pt;
margin:           0px;
}


.v13j0 {
text-align:       justify;
font-family:      "Verdana";
font-size:        13pt;
margin:           0px;
}


.v12j0 {
text-align:       justify;
font-family:      "Verdana";
font-size:        12pt;
margin:           0px;
}


.v11j0 {
text-align:       justify;
font-family:      "Verdana";
font-size:        11pt;
margin:           0px;
}


.v10j0 {
text-align:       justify;
font-family:      "Verdana";
font-size:        10pt;
margin:           0px;
}


.v9j0 {
text-align:       justify;
font-family:      "Verdana";
font-size:        9pt;
margin:           0px;
}


.v8j0 {
text-align:       justify;
font-family:      "Verdana";
font-size:        8pt;
margin:           0px;
}


.v7j0 {
text-align:       justify;
font-family:      "Verdana";
font-size:        7pt;
margin:           0px;
}






.v14d0 {
text-align:       right;
font-family:      "Verdana";
font-size:        14pt;
margin:           0px;
}


.v13d0 {
text-align:       right;
font-family:      "Verdana";
font-size:        13pt;
margin:           0px;
}


.v12d0 {
text-align:       right;
font-family:      "Verdana";
font-size:        12pt;
margin:           0px;
}


.v11d0 {
text-align:       right;
font-family:      "Verdana";
font-size:        11pt;
margin:           0px;
}


.v10d0 {
text-align:       right;
font-family:      "Verdana";
font-size:        10pt;
margin:           0px;
}


.v9d0 {
text-align:       right;
font-family:      "Verdana";
font-size:        9pt;
margin:           0px;
}


.v8d0 {
text-align:       right;
font-family:      "Verdana";
font-size:        8pt;
margin:           0px;
}


.v7d0 {
text-align:       right;
font-family:      "Verdana";
font-size:        7pt;
margin:           0px;
}














.NOt14c5 {
display: none;
}


.NOt13c5 {
display: none;
}


.NOt12c5 {
display: none;
}


.NOt11c5 {
display: none;
}


.NOt10c5 {
display: none;
}


.NOt9c5 {
display: none;
}


.NOt8c5 {
display: none;
}


.NOt7c5 {
display: none;
}







.NOt14j5 {
display: none;
}


.NOt13j5 {
display: none;
}


.NOt12j5 {
display: none;
}


.NOt11j5 {
display: none;
}


.NOt10j5 {
display: none;
}


.NOt9j5 {
display: none;
}


.NOt8j5 {
display: none;
}


.NOt7j5 {
display: none;
}





.NOt14d5 {
display: none;
}


.NOt13d5 {
display: none;
}


.NOt12d5 {
display: none;
}


.NOt11d5 {
display: none;
}


.NOt10d5 {
display: none;
}


.NOt9d5 {
display: none;
}


.NOt8d5 {
display: none;
}


.NOt7d5 {
display: none;
}











.NOt14c0 {
display: none;
}


.NOt13c0 {
display: none;
}


.NOt12c0 {
display: none;
}


.NOt11c0 {
display: none;
}


.NOt10c0 {
display: none;
}


.NOt9c0 {
display: none;
}


.NOt8c0 {
display: none;
}


.NOt7c0 {
display: none;
}







.NOt14j0 {
display: none;
}


.NOt13j0 {
display: none;
}


.NOt12j0 {
display: none;
}


.NOt11j0 {
display: none;
}


.NOt10j0 {
display: none;
}


.NOt9j0 {
display: none;
}


.NOt8j0 {
display: none;
}


.NOt7j0 {
display: none;
}






.NOt14d0 {
display: none;
}


.NOt13d0 {
display: none;
}


.NOt12d0 {
display: none;
}


.NOt11d0 {
display: none;
}


.NOt10d0 {
display: none;
}


.NOt9d0 {
display: none;
}


.NOt8d0 {
display: none;
}


.NOt7d0 {
display: none;
}










.NOv14c5 {
display: none;
}


.NOv13c5 {
display: none;
}


.NOv12c5 {
display: none;
}


.NOv11c5 {
display: none;
}


.NOv10c5 {
display: none;
}


.NOv9c5 {
display: none;
}


.NOv8c5 {
display: none;
}


.NOv7c5 {
display: none;
}







.NOv14j5 {
display: none;
}


.NOv13j5 {
display: none;
}


.NOv12j5 {
display: none;
}


.NOv11j5 {
display: none;
}


.NOv10j5 {
display: none;
}


.NOv9j5 {
display: none;
}


.NOv8j5 {
display: none;
}


.NOv7j5 {
display: none;
}






.NOv14d5 {
display: none;
}


.NOv13d5 {
display: none;
}


.NOv12d5 {
display: none;
}


.NOv11d5 {
display: none;
}


.NOv10d5 {
display: none;
}


.NOv9d5 {
display: none;
}


.NOv8d5 {
display: none;
}


.NOv7d5 {
display: none;
}












.NOv14c0 {
display: none;
}


.NOv13c0 {
display: none;
}


.NOv12c0 {
display: none;
}


.NOv11c0 {
display: none;
}


.NOv10c0 {
display: none;
}


.NOv9c0 {
display: none;
}


.NOv8c0 {
display: none;
}


.NOv7c0 {
display: none;
}








.NOv14j0 {
display: none;
}


.NOv13j0 {
display: none;
}


.NOv12j0 {
display: none;
}


.NOv11j0 {
display: none;
}


.NOv10j0 {
display: none;
}


.NOv9j0 {
display: none;
}


.NOv8j0 {
display: none;
}


.NOv7j0 {
display: none;
}







.NOv14d0 {
display: none;
}


.NOv13d0 {
display: none;
}


.NOv12d0 {
display: none;
}


.NOv11d0 {
display: none;
}


.NOv10d0 {
display: none;
}


.NOv9d0 {
display: none;
}


.NOv8d0 {
display: none;
}


.NOv7d0 {
display: none;
}



